
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap&#39');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
}
body{
    margin: 0px;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.container{
    display: flex;
}

.container-buttons{
    width: 300px;
    position: fixed;
    height: min-content;
    display: grid;
    grid-template-rows:60px 150px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    right: 60%;
    left: 40%;
    top: 63%;
    bottom: 48%;
}
.id_or_name{
    justify-self: end;
    grid-column: span 2;
    width: 100%;
    height: 80%;
    padding: 10px 14px;
    font-size: 16px;
    border: 2px solid #333;
    outline: none;
    background-color: #f8f8f8;
}

button{
    margin: 5px;
    background-color: black;
    color: white;
    border: 2px solid #333;
    outline: none;
    height: 35px;
}
button:active{
    background-color: #333;
    height: 30px;
}

.pokemon-result{
    height: 200px;
    width: 250px;
    display: flex;
    position: fixed;
    top: 26%;
    left: 41.5%;
    align-items: center;
    justify-content: center;
}

.pokemon-result div{
    position: fixed;
    top: 56%;
}

.pokemon-result div span{
    margin: 5px;
}

.pokedex{
    width: 425px;
    height: auto;
    max-width: none;
    object-fit: none;
}

